<form class="{{cssClass}} flexcol" autocomplete="off">
	{{> "btw.item-header" }}

	<nav class="sheet-tabs tabs flexrow" data-group="primary">
		<a class="item" data-tab="description">Features</a>
		<a class="item" data-tab="details">Details</a>
	</nav>

	<section class="sheet-body flexrow">
		<div class="tab description flexrow" data-group="primary" data-tab="description">
			<div class="details-sidebar">
				{{#if system.cantrip}}
				<div>Cantrip</div>
				<div>Ability: {{lookup abilitiesLabels system.ability}}</div>
				{{/if}}
				{{#if system.range}}
				<div>Range: {{lookup config.ranges system.range}}</div>
				{{/if}}
				{{#if system.duration.units}}
				<div>Duration: {{btw-formatDuration system.duration}}</div>
				{{/if}}
				{{#if system.save}}
				<div>Save</div>
				{{/if}}
			</div>
			<div>
				{{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
			</div>
		</div>

		<div class="tab details" data-group="primary" data-tab="details">
			<div class="form-group">
				<label>{{localize "BTW.Cantrip"}}</label>
				<div class="form-fields">
					<input type="checkbox" name="system.cantrip" {{checked system.cantrip}} />
				</div>
			</div>
			{{#if system.cantrip}}
			<div class="form-group">
				<label>{{localize "BTW.Ability.Label"}}</label>
				<div class="form-fields">
					<select name="system.ability">
						{{selectOptions config.abilities selected=system.ability blank="" }}
					</select>
				</div>
			</div>
			{{/if}}
			<div class="form-group">
				<label>{{localize "BTW.Range"}}</label>
				<div class="form-fields">
					<select name="system.range">
						{{selectOptions config.ranges selected=system.range blank="" }}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{localize "BTW.Duration"}}</label>
				<div class="form-fields">
					{{#if (lookup config.scalarTimePeriods system.duration.units)}}
						<input type="number" name="system.duration.value" value="{{source.duration.value}}"
							placeholder="&mdash;">
					{{/if}}
					<label>{{localize "BTW.Units"}}</label>
					<select name="system.duration.units">
						{{#select system.duration.units}}
							<option value="">{{localize "BTW.None"}}</option>
							<optgroup label="{{localize 'BTW.DurationTime'}}">
								{{selectOptions config.scalarTimePeriods}}
							</optgroup>
							<optgroup label="{{localize 'BTW.DurationPermanent'}}">
								{{selectOptions config.permanentTimePeriods}}
							</optgroup>
							{{selectOptions config.specialTimePeriods}}
						{{/select}}
					</select>
					{{#if system.duration.units}}
					<label class="perLevel">Per Level</label>
					<input type="checkbox" name="system.duration.level" {{checked system.duration.level}} />
					{{/if}}
				</div>
			</div>
			<div class="form-group">
				<label>{{localize "BTW.Save.Label"}}</label>
				<div class="form-fields">
					<input type="checkbox" name="system.save" {{checked system.save}} />
				</div>
			</div>
		</div>

	</section>
</form>